<form id="{{options.id}}" class="{{options.classes}} flexcol">
  <label for="patreon-key">{{localize "m3.session.patreonKey"}}</label>
  <input type="text" name="patreon-key">

  <button type="submit" name="submit" {{{startDisable}}}>{{localize "m3.session.start"}}</button>
</form>
